AcmeCursos.Presentation/Service References/ProfessorServiceRemote/ProfessorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProfessorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://acmecursosservicewesley.azurewebsites.net/ProfessorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://acmecursosservicewesley.azurewebsites.net/ProfessorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" />
      <xsd:import schemaLocation="http://acmecursosservicewesley.azurewebsites.net/ProfessorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://acmecursosservicewesley.azurewebsites.net/ProfessorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfessorService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_GetAll_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q1:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_GetAllWithCursos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithCursos" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_GetAllWithCursos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithCursosResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_GetAllWithCursos_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q2:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Find_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q3:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_FindWithCursos_InputMessage">
    <wsdl:part name="parameters" element="tns:FindWithCursos" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_FindWithCursos_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindWithCursosResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_FindWithCursos_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q4:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Delete_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q5:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Add_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q6:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Update_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q7:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_GetAllByCurso_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllByCurso" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_GetAllByCurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllByCursoResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_GetAllByCurso_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q8:ServiceException" />
  </wsdl:message>
  <wsdl:portType name="IProfessorService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorService/GetAll" message="tns:IProfessorService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorService/GetAllResponse" message="tns:IProfessorService_GetAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProfessorService/GetAllServiceExceptionFault" name="ServiceExceptionFault" message="tns:IProfessorService_GetAll_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWithCursos">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorService/GetAllWithCursos" message="tns:IProfessorService_GetAllWithCursos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorService/GetAllWithCursosResponse" message="tns:IProfessorService_GetAllWithCursos_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProfessorService/GetAllWithCursosServiceExceptionFault" name="ServiceExceptionFault" message="tns:IProfessorService_GetAllWithCursos_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorService/Find" message="tns:IProfessorService_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorService/FindResponse" message="tns:IProfessorService_Find_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProfessorService/FindServiceExceptionFault" name="ServiceExceptionFault" message="tns:IProfessorService_Find_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindWithCursos">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorService/FindWithCursos" message="tns:IProfessorService_FindWithCursos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorService/FindWithCursosResponse" message="tns:IProfessorService_FindWithCursos_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProfessorService/FindWithCursosServiceExceptionFault" name="ServiceExceptionFault" message="tns:IProfessorService_FindWithCursos_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorService/Delete" message="tns:IProfessorService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorService/DeleteResponse" message="tns:IProfessorService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProfessorService/DeleteServiceExceptionFault" name="ServiceExceptionFault" message="tns:IProfessorService_Delete_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorService/Add" message="tns:IProfessorService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorService/AddResponse" message="tns:IProfessorService_Add_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProfessorService/AddServiceExceptionFault" name="ServiceExceptionFault" message="tns:IProfessorService_Add_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorService/Update" message="tns:IProfessorService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorService/UpdateResponse" message="tns:IProfessorService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProfessorService/UpdateServiceExceptionFault" name="ServiceExceptionFault" message="tns:IProfessorService_Update_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllByCurso">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorService/GetAllByCurso" message="tns:IProfessorService_GetAllByCurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorService/GetAllByCursoResponse" message="tns:IProfessorService_GetAllByCurso_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProfessorService/GetAllByCursoServiceExceptionFault" name="ServiceExceptionFault" message="tns:IProfessorService_GetAllByCurso_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProfessorService" type="tns:IProfessorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IProfessorService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllWithCursos">
      <soap:operation soapAction="http://tempuri.org/IProfessorService/GetAllWithCursos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://tempuri.org/IProfessorService/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindWithCursos">
      <soap:operation soapAction="http://tempuri.org/IProfessorService/FindWithCursos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IProfessorService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IProfessorService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IProfessorService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllByCurso">
      <soap:operation soapAction="http://tempuri.org/IProfessorService/GetAllByCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfessorService">
    <wsdl:port name="BasicHttpBinding_IProfessorService" binding="tns:BasicHttpBinding_IProfessorService">
      <soap:address location="http://acmecursosservicewesley.azurewebsites.net/ProfessorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>