AcmeCursos.Presentation/Service References/InscricaoServiceRemoto/InscricaoService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InscricaoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://acmecursosservicewesley.azurewebsites.net/InscricaoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://acmecursosservicewesley.azurewebsites.net/InscricaoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" />
      <xsd:import schemaLocation="http://acmecursosservicewesley.azurewebsites.net/InscricaoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://acmecursosservicewesley.azurewebsites.net/InscricaoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInscricaoService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_Add_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q1:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_GetAllByEstudante_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllByEstudante" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_GetAllByEstudante_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllByEstudanteResponse" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_GetAllByEstudante_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q2:ServiceException" />
  </wsdl:message>
  <wsdl:portType name="IInscricaoService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IInscricaoService/Add" message="tns:IInscricaoService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInscricaoService/AddResponse" message="tns:IInscricaoService_Add_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IInscricaoService/AddServiceExceptionFault" name="ServiceExceptionFault" message="tns:IInscricaoService_Add_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllByEstudante">
      <wsdl:input wsaw:Action="http://tempuri.org/IInscricaoService/GetAllByEstudante" message="tns:IInscricaoService_GetAllByEstudante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInscricaoService/GetAllByEstudanteResponse" message="tns:IInscricaoService_GetAllByEstudante_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IInscricaoService/GetAllByEstudanteServiceExceptionFault" name="ServiceExceptionFault" message="tns:IInscricaoService_GetAllByEstudante_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInscricaoService" type="tns:IInscricaoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IInscricaoService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllByEstudante">
      <soap:operation soapAction="http://tempuri.org/IInscricaoService/GetAllByEstudante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InscricaoService">
    <wsdl:port name="BasicHttpBinding_IInscricaoService" binding="tns:BasicHttpBinding_IInscricaoService">
      <soap:address location="http://acmecursosservicewesley.azurewebsites.net/InscricaoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>