AcmeCursos.Presentation/Service References/InscricaoServiceRemoto/InscricaoService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://acmecursosservicewesley.azurewebsites.net/InscricaoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.DTO" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.DTO" minOccurs="0" name="inscricao" nillable="true" type="q1:InscricaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByEstudante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstudante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByEstudanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.DTO" minOccurs="0" name="GetAllByEstudanteResult" nillable="true" type="q2:ArrayOfInscricaoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>