AcmeCursos.Presentation/Service References/EstudanteServiceRemoto/EstudanteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://acmecursosservicewesley.azurewebsites.net/EstudanteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.DTO" />
  <xs:element name="GetAllEstudantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEstudantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.DTO" minOccurs="0" name="GetAllEstudantesResult" nillable="true" type="q1:ArrayOfEstudanteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEstudantesWithInscricoes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEstudantesWithInscricoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.DTO" minOccurs="0" name="GetAllEstudantesWithInscricoesResult" nillable="true" type="q2:ArrayOfEstudanteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEstudante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEstudanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.DTO" minOccurs="0" name="FindEstudanteResult" nillable="true" type="q3:EstudanteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWithInscricoes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWithInscricoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.DTO" minOccurs="0" name="FindWithInscricoesResult" nillable="true" type="q4:EstudanteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEstudante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.DTO" minOccurs="0" name="estudante" nillable="true" type="q5:EstudanteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEstudanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEstudante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.DTO" minOccurs="0" name="estudante" nillable="true" type="q6:EstudanteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEstudanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEstudante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.DTO" minOccurs="0" name="estudante" nillable="true" type="q7:EstudanteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEstudanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>