AcmeCursos.Presentation/Service References/CursoServiceRemoto/CursoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CursoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://acmecursosservicewesley.azurewebsites.net/CursoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://acmecursosservicewesley.azurewebsites.net/CursoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" />
      <xsd:import schemaLocation="http://acmecursosservicewesley.azurewebsites.net/CursoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://acmecursosservicewesley.azurewebsites.net/CursoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICursoService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ICursoService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoService_GetAll_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q1:ServiceException" />
  </wsdl:message>
  <wsdl:message name="ICursoService_GetAllWithProfessores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithProfessores" />
  </wsdl:message>
  <wsdl:message name="ICursoService_GetAllWithProfessores_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithProfessoresResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoService_GetAllWithProfessores_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q2:ServiceException" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Find_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q3:ServiceException" />
  </wsdl:message>
  <wsdl:message name="ICursoService_FindWithProfessores_InputMessage">
    <wsdl:part name="parameters" element="tns:FindWithProfessores" />
  </wsdl:message>
  <wsdl:message name="ICursoService_FindWithProfessores_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindWithProfessoresResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoService_FindWithProfessores_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q4:ServiceException" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Delete_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q5:ServiceException" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Add_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q6:ServiceException" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Update_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q7:ServiceException" />
  </wsdl:message>
  <wsdl:message name="ICursoService_GetAllByProfessor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllByProfessor" />
  </wsdl:message>
  <wsdl:message name="ICursoService_GetAllByProfessor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllByProfessorResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoService_GetAllByProfessor_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/AcmeCursos.Service.Exceptions" name="detail" element="q8:ServiceException" />
  </wsdl:message>
  <wsdl:portType name="ICursoService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoService/GetAll" message="tns:ICursoService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoService/GetAllResponse" message="tns:ICursoService_GetAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICursoService/GetAllServiceExceptionFault" name="ServiceExceptionFault" message="tns:ICursoService_GetAll_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWithProfessores">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoService/GetAllWithProfessores" message="tns:ICursoService_GetAllWithProfessores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoService/GetAllWithProfessoresResponse" message="tns:ICursoService_GetAllWithProfessores_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICursoService/GetAllWithProfessoresServiceExceptionFault" name="ServiceExceptionFault" message="tns:ICursoService_GetAllWithProfessores_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoService/Find" message="tns:ICursoService_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoService/FindResponse" message="tns:ICursoService_Find_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICursoService/FindServiceExceptionFault" name="ServiceExceptionFault" message="tns:ICursoService_Find_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindWithProfessores">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoService/FindWithProfessores" message="tns:ICursoService_FindWithProfessores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoService/FindWithProfessoresResponse" message="tns:ICursoService_FindWithProfessores_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICursoService/FindWithProfessoresServiceExceptionFault" name="ServiceExceptionFault" message="tns:ICursoService_FindWithProfessores_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoService/Delete" message="tns:ICursoService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoService/DeleteResponse" message="tns:ICursoService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICursoService/DeleteServiceExceptionFault" name="ServiceExceptionFault" message="tns:ICursoService_Delete_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoService/Add" message="tns:ICursoService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoService/AddResponse" message="tns:ICursoService_Add_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICursoService/AddServiceExceptionFault" name="ServiceExceptionFault" message="tns:ICursoService_Add_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoService/Update" message="tns:ICursoService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoService/UpdateResponse" message="tns:ICursoService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICursoService/UpdateServiceExceptionFault" name="ServiceExceptionFault" message="tns:ICursoService_Update_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllByProfessor">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoService/GetAllByProfessor" message="tns:ICursoService_GetAllByProfessor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoService/GetAllByProfessorResponse" message="tns:ICursoService_GetAllByProfessor_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICursoService/GetAllByProfessorServiceExceptionFault" name="ServiceExceptionFault" message="tns:ICursoService_GetAllByProfessor_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICursoService" type="tns:ICursoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/ICursoService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllWithProfessores">
      <soap:operation soapAction="http://tempuri.org/ICursoService/GetAllWithProfessores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://tempuri.org/ICursoService/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindWithProfessores">
      <soap:operation soapAction="http://tempuri.org/ICursoService/FindWithProfessores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICursoService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ICursoService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ICursoService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllByProfessor">
      <soap:operation soapAction="http://tempuri.org/ICursoService/GetAllByProfessor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CursoService">
    <wsdl:port name="BasicHttpBinding_ICursoService" binding="tns:BasicHttpBinding_ICursoService">
      <soap:address location="http://acmecursosservicewesley.azurewebsites.net/CursoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>